/* General Styles */
* {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 2px, #e5e5f7 2px);
    background-size: 40px 40px;
    overflow-x: hidden;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.imagecontainer #modal-image {
    width: 80%;
}

.logobox {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    max-width: 90%;
}

.items_box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    position: relative;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 13px;
    width: 300px;
    max-width: 100%;
    position: relative;
    margin: 20px;
}

.item_img {
    width: 100%;
    border-radius: 5px;
}

.title, .author, .price {
    text-align: center;
}

.title {
    font-weight: 500;
    margin-top: 5px;
    font-size: 17px;
}

.author {
    font-size: 16px;
    font-style: italic;
}

.price {
    margin-top: 5px;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    font-weight: 500;
}

a {
    text-decoration: #007bff wavy underline;
    color: black;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.heart {
    color: #007bff;
}

.addtocart, .btn, #view-cart, .socialbtn, #order-form button, .modal-addtocart {
    margin-top: 10px;
    padding: 1rem 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addtocart:hover, .btn:hover, #view-cart:hover, .socialbtn:hover, #order-form button:hover {
    background-color: #0056b3;
}

#view-cart {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#view-cart:hover {
    background-color: #218838;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Disable scrolling */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.cart-item-img{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 20px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 480px;
    position: relative;
    border-radius: 15px;
    text-align: center;
}

.detail-modal-content{
    background-color: #fefefe;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    border-radius: 20px 20px 0 0;
    background-color: white;
    padding: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 0px;
}

.footertext {
    text-align: center;
}

#order-form input,
#order-form select,
#order-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#order-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

@keyframes fly-to-cart {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(calc(100vw - 100px), calc(-100vh + 100px));
        opacity: 0;
    }
}

.flying-image {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1000;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    pointer-events: none;
}

.decrease, .increase {
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    align-items: center;
}

.decrease:hover, .increase:hover {
    background-color: #0056b3;
}

.socialbtns {
    margin-bottom: 39px;
}

.socialbtn {
    display: flexbox;
    align-items: center;
    max-width: 14px;
    max-height: 14px;
    width: 14px;
    height: 14px;
    padding: 14px;
    margin-bottom: 200px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.socialbtn i {
    color: white !important;
}

.socialbtn:hover {
    background-color: #0056b3;
}

.deliverycont {
    display: flex;
    flex-direction: column;
    width: 864px;
    max-width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.deliverycont p {
    margin-bottom: 10px;
    line-height: 1.9em;
}

.deliverycont h2 {
    margin-bottom: 20px;
}

.tabs {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tablinks {
    cursor: pointer;
    border: none;
    background-color: white;
    color: #007bff;
    padding: 1rem 1.5rem;
    margin: 5px;
    border-radius: 5px;
}

.tabcontent {
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .item {
        width: 90%;
    }

    .deliverycont {
        width: 100%;
    }

    .tablinks {
        width: auto;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .deliverycont {
        width: 100%;
    }

    .tablinks {
        width: 100%;
        text-align: center;
    }

    .modal-content {
        width: 90%;
    }

    .itemcontainer{
        flex-direction: column!important;
        
    }
    .infocontainer{
        margin-top: 10px;
        max-width: 100%!important;
    }
}


.itemcontainer {
    display: flex;
    flex-direction: row; /* Changed to row to align image and text side by side */
    align-items: center;
    justify-content: center;
}

.imagecontainer {
    flex: 1; /* Make the image container take up available space */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    max-width: 300px;
}

.infocontainer {
    line-height: 1.6em;
    flex: 1; /* Make the info container take up available space */
    max-width: 50%; /* Adjust as necessary */
    padding: 20px; /* Add some padding for better spacing */
}


.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantity-controls button {
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    align-items: center;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

.quantity-controls input {
    width: 40px;
    text-align: center;
}